
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

.container-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.left-section {
  background-color: #F0F5FF;
  margin: 0;
  padding: 0;
}

.left-section-card {
  width: 31.875rem;
  height: 43.5rem;
  margin-top: 10.23rem;
  margin-bottom: 2.52rem;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border: 0.5px solid #A9C5DE;
  border-radius: 30px;
}

.get-healthcare {
  margin-top: 4.24rem;
  margin-bottom: 3.94rem;
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
  color: #1A4187;
}

.auto-signup-button {
  margin: auto;
  margin-bottom: 1.4rem;
  width: 25.17rem;
  height: 4.8rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: white;
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.1);
  border-radius: 0.75rem;
  border: none;
  transition: opacity 0.1s;
}

.auto-signup-button:hover {
  background-color: #ddeaff;
}

.auto-signup-button:active {
  background-color: #a5c4fe;
}

.auto-signup-button img {
  margin-right: 1.65rem;
  margin-left: 2.3rem;
}

.auto-signup-button div {
  color: #8696BB;
  font-size: 0.86rem;
}

h6 {
  text-align: center;
  margin: auto;
  margin-top: 3.74rem;
  /* max-width: 550px; */
  position: relative;
  color: #7889B2;
  font-size: 1.13rem;
}

h6::before {
  background-color: #C8D3F9;
  display: block;
  width: 177px;
  height: 2px;
  content: '';
  position: absolute;
  left: 53px;
  top: 50%;
}

h6::after {
  background-color: #C8D3F9;
  display: block;
  width: 177px;
  height: 2px;
  content: '';
  position: absolute;
  right: 53px;
  top: 50%;
}

.mannual-email-button {
  margin: auto;
  margin-bottom: 3.7rem;
  margin-top: 2.67rem;
  width: 25.17rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4485FD;
  border-radius: 0.75rem;
  border: none;
  cursor: pointer;
  transition: opacity 0.15s;
}

.mannual-email-button:hover {
  opacity: 0.8;
}

.mannual-email-button:active {
  background-color: #003eb0;
}

.mannual-email-button div {
  color: white;
  font-size: 1.2rem;
  font-weight: 400;
}

.have-account {
  text-align: center;
  font-size: 1.1rem;
  color: #547196;
  font-weight: 500;
}

.log-in {
  color: #4485FD;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.right-section {
  background-color: #4485FD;
  position: relative;
  margin: 0;
  padding: 0;
}

.illustrations {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 211px;
  margin-bottom: 35px;
  z-index: 100;
}

.intro-1 {
  font-size: 28px;
  text-align: center;
  font-weight: 600;
  color: white;
  margin-bottom: 26.76px;
}

.intro-2 {
  font-size: 20px;
  text-align: center;
  color: white;
  margin: auto;
  width: 577px;
}

.bubble1 {
  position: absolute;
  right: 4.1%;
  top: 3.27%;
}

.bubble2 {
  position: absolute;
  left: 80.43px;
  top: 85.27px;
}

.bubble3 {
  position: absolute;
  left: 65.69px;
  top: 518.67px;
}

.bubble4 {
  position: absolute;
  right: 116.67px;
  top: 371.39px;
}

@media (max-width: 1000px) {
  p {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 1.2rem;
    
  }

  .mobile-view {
    display: none;
  } 

  .mobile-view-text {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .mobile-view-text2 {
    font-weight: normal;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 40px;
    line-height: 1.7em;
  }
}

@media (min-width: 1000px) {
  .mobile-view-text,
  .mobile-view-text2,
  .mobile-view-text3 {
    display: none;
  }
}












